.button {
    background: #000000;
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding: 0 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #ffffff;
    border-radius: 1.375rem;

    transition: transform 0.3s;
}
    .button:hover {
        transform: scale(1.05);
    }

.button img {
    margin-right: 0.5rem;
}

button {
    cursor: pointer;
    background: #000000;
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding: 0 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #ffffff;
    border-radius: 1.375rem;
    border: transparent;

    transition: transform 0.3s;
}
button:hover {
    transform: scale(1.05);
}
button img {
    margin-right: 0.5rem;
}
